$light-blue-color: #89CAF0;
$light-white-color: white;

@mixin nav-colors($light-blue-theme: true) {
    @if $light-blue-theme {
        text-decoration: none;
        font-size: 150%;
        color: $light-blue-color;
        &:hover{
            color: $light-white-color;
        }
    } @else {
        text-decoration: none;
        font-size: 150%;
        color: $light-white-color;
        &:hover{
            color: $light-blue-color;
        }
    }
  }