header{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "h-div  h-nav"
    ;
    background-color: $c-principal;
    border-bottom: solid 5px $c-secundario;

    div{
        grid-area: h-div;

        img{
            width: 80px;
            height: 80px;
        }
    }

    nav{
        grid-area: h-nav;
        @include header-nav();

         a{
            @include nav-colors();
            font-family: $txt-principal;
        }

    }
}

/* Nav Mobile */

#header__mobile{
    grid-area: h-mobile;
    display: none;
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
}

label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1rem;
    color: $c-secundario;
    display:inline-block;
    position: absolute;
}

#h-icon{
    font-size: 200%;
}

.cerrar {
    display:none;
}

#barra {
    width:0;
}

input#abrir-cerrar:checked ~ #barra {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.barra {
    position: fixed;
    height: 100%;
    z-index: 1;
    background-color: $c-principal;
    overflow-x: hidden;
    transition: 0.5s;
}

.barra ul, .barra li{
    list-style:none;
}

.barra ul {
    display: block;
    width: 100%;
}

.barra a {
    display: block;
    @include nav-colors();
    font-family: $txt-principal;
    margin: 30px 30px 30px 30px;
}

/* Nav Mobile */


@media screen and (max-width: 768px){

    #header__mobile{
        display: block;
    }

    header{
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "h-mobile  h-div"
        ;

        nav{
            display: none;
        }
    }

}

@media screen and (max-width: 576px){

    #logo__header{
        display: none;
    }

}